.container{
    display: flex;
    justify-content: center;
}


.form {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 20px;
}

.form input,
.form textarea {
    padding: 20px;
    border: none;
    outline: none;
    background-color: var(--bgSoft);
    color: var(--text);
}

.form button{
    padding: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: var(--btn);
    color: var(--text);
}

.form textarea{
    resize: none;
}
